.wrapper {
  background-color: #060606;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  display: flex;
}

.redirect-div {
  justify-content: center;
  align-items: center;
  width: 30vw;
  display: flex;
}

.image {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .redirect-div {
    width: 50vw;
  }
}

@media screen and (max-width: 479px) {
  .redirect-div {
    width: 80vw;
  }
}


